<main>
  <section class="section m-auto">
    <div class="columns is-centered">
      <div class="column is-half">
        <nav class="panel is-success">
          <p class="panel-heading">TODO LIST</p>
          <div class="panel-block">
            <div class="block m-auto">
              <div class="field is-grouped">
                <div class="control is-expanded">
                  <input class="input is-success" type="text" placeholder="New todo" id="input-add" autocomplete="off"
                    [(ngModel)]="todoText" (keyup.enter)="addTodo()" />
                </div>
                <div class="control">
                  <button class="button is-primary" id="add-btn" (click)="addTodo()">ADD</button>
                </div>
              </div>
            </div>
          </div>
          <div id="panel" class="ml-2">
            <div *ngFor="let todo of todos" class="p-1">
              <span [ngClass]=" {'completed': todo.completed}" (click)="todo.completed = !todo.completed"
                [style.textDecoration]="todo.completed ? 'line-through' : 'none'">{{ todo.title }}</span>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>

</main>

<router-outlet></router-outlet>